.main-container {
    display: grid !important;
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.list-offer {
    background-color: #17496E ;
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-family: "Segoe UI", sans-serif;
    position: relative;
}

.detail-offer {
    background-color: #e0e0e0;
    padding: 40px;
    border-radius: 20px;
    height: fit-content;
    font: 16px "Segoe UI", sans-serif;
}

.details {
    position: sticky;
    top: 20px;
    align-self: start;
    height: fit-content;
}

.btn-candidate {
    background-color: #348635;
    color: white;
    padding: 10px 20px;
    border: 2px solid #348635;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    display: inline-block;
}

.btn-action.star {
    background: transparent;
    border: none;
    cursor: pointer;
    
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 26px;
    color: #e0e0e0;
    transition: color 0.3s ease, transform 0.1s ease;
    z-index: 10;
}

.btn-action.star:hover {
    color: #f1c40f;
}

.btn-action.star.active {
    color: #f1c40f;
}

.btn-action.star:active {
    transform: scale(1.2);
}