.main-container {
    display: grid !important;
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.list-offer {
    background-color: #17496E ;
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-family: "Segoe UI", sans-serif;
    position: relative;
}

.detail-offer {
    background-color: #e0e0e0;
    padding: 40px;
    border-radius: 20px;
    height: fit-content;
    font: 16px "Segoe UI", sans-serif;
}

.details {
    position: sticky;
    top: 20px;
    align-self: start;
    height: fit-content;
}

.btn-candidate {
    background-color: #348635;
    color: white;
    padding: 10px 20px;
    border: 2px solid #348635;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    transform: none;
    text-decoration: none;
    display: inline-block;
}

@media (max-width: 600px) {
    .btn-candidate {
        position: relative;
        transform: none;
        margin-top: 15px;
        width: 100%;
        bottom : 0;
        right: 0;
        border-radius: 15px;
        text-align: center;
    }
}