main { 
    padding: 30px 40px; 
}


h1, h2 { 
    color: #17496E; 
    font-family: "Segoe UI", sans-serif; 
}


table { 
    width: 100%; 
    border-collapse: collapse; 
    background: white; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
     margin-top: 20px; 
}


th { 
    background: #17496E; 
    color: white; 
    padding: 12px 16px; 
    text-align: center; 
}


td { 
    padding: 12px 16px; 
    text-align: center; 
    border-bottom: 1px solid #eee; 
    font-family: "Segoe UI", sans-serif; 
    font-size: 14px; 
}


tr:hover { 
    background: #f0f7ff; 
}


.btn-edit   { 
    background: #f0a500; 
    color: white;
    border: none; 
    border-radius: 6px; 
    padding: 5px 12px; 
    display: inline-block;
    text-decoration: none;
    cursor: pointer; 
}

.btn-edit:hover,
.btn-edit:focus,
.btn-edit:visited {
    text-decoration: none;
    color: white;
}


.btn-delete { 
    background: #e03333; 
    color: white; 
    border: none; 
    border-radius: 6px;
    padding: 5px 12px; 
    cursor: pointer; 
}


.badge { 
    padding: 2px 10px; 
    border-radius: 10px; 
    font-size: 12px; 
    color: white; 
    background: #888;
}

.btn-back   { 
    background: #716f6a; 
    color: white;
    border: none; 
    border-radius: 6px; 
    padding: 5px 12px; 
    display: inline-block;
    text-decoration: none;
    cursor: pointer; 
}

.btn-back:hover,
.btn-back:focus,
.btn-back:visited {
    text-decoration: none;
    color: white;
}


.btn-edit, 
.btn-delete, 
.btn-back {
    font-size: 14px;
    padding: 8px 16px;
    line-height: 1;
}