label {
  margin-bottom: 8px;
  font-size: 14px;
  font-family :'Segoe UI';
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family :'Segoe UI';
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-family :'Segoe UI';
}   

li{
    font-size: 16px;
    line-height: 1.5;
    font-family :'Segoe UI';
}