
.mes-informations {
    background-color: #d9d9d9;
    padding: 30px;
    border-radius: 40px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

.mes-informations h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;

    color: #333;
}

.info-group {
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start;
}

.info-group label {
    font-weight: 600;
    min-width: 220px;
    color: #333;
}

.info-group .info-value {
    flex: 1;
    margin: 0;
    color: #333;
    line-height: 1.5;
}

.stages-eleves {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    margin-top: 40px;
}

.stages-eleves h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.entite1-card, .entite2-card {
    background-color: #d9d9d9;
    padding: 25px;
    border-radius: 25px;
}

.entite1-card h3, .entite2-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}

.entite1-card p, .entite2-card p {
    margin: 8px 0;
    color: #333;
}