<!DOCTYPE html>
<html lang="fr">
    <head>
    <meta charset="utf-8">
    <title>Career Quest</title>
	<meta name="description" content="Venez rechercher la perle rare parmi nos offres d'emploi.">
	<link href="main-stylesheet.css" rel="stylesheet" />
    <link href="fiche_personne_style.css" rel="stylesheet"/>
    </head>

    <body>
        <header class="navbar">
            <div class="logo">
        <img src="images/logo.png" alt="Logo de Career Quest"/>
        </div>

        <div class="search-container">
            <input type="text" placeholder="Rechercher" class="search-bar"/>
        </div>

        <div class="account">
            <div class="user-icon">
                <img src="images/user_icon.svg" alt="Icône de compte utilisateur"/>
            </div>
            <span class="account-text">Mon compte</span>

        </div>
        </header>

        <section class="mes-informations">
         <h2>Mes Informations</h2>
    
        <div class="info-group">
        <label>Nom Prénom :</label>
        <p class="info-value">   </p>
        </div>
    
        <div class="info-group">
        <label>Date de naissance :</label>
        <p class="info-value"> </p>
        </div>
    
        <div class="info-group">
        <label>Type de personne :</label>
        <p class="info-value">  </p>
        </div>
    
        <div class="info-group">
        <label>Mon niveau d'étude : </label>
        <p class="info-value">   </p>
        </div>
    
        <div class="info-group">
        <label>Description sur mon profil :</label>
        <p class="info-value"></p>
         </div>
        </section>
   
        <section class="stages-eleves">
        <h2>Ses stages / Eleves</h2>
    
        <div class="entite1-card">
        <h3> Entité 1</h3>
        <p> Exemple pour l'entité 1 </p>
            </div>
    
        <div class="entite2-card">
        <h3> Entité 2</h3>
        <p> Exemple pour l'entité 2 </p>
         </div>
    
        </section>

        <footer class="site-footer">
            <p>
            © Career Quest | 
            <a href="/mentions-legales" class="footer-link">Mentions Légales</a>
            </p>
        </footer>
    
    </body>

</html>