<!DOCTYPE html>
<html lang="fr">
    <head>
    <meta charset="utf-8">
    <title>Career Quest</title>
	<meta name="description" content="Venez rechercher la perle rare parmi nos offres d'emploi.">
	<link href="main-stylesheet.css" rel="stylesheet" />
    <link href="accueil_stylesheet.css" rel="stylesheet"/>
    </head>



    <body>
        <header class="navbar">
        

            <div class="logo">
        <img src="images/logo.png" alt="Logo de Career Quest"/>
        </div>

        <div class="search-container">
            <input type="text" placeholder="Rechercher" class="search-bar"/>
        </div>

        <div class="account">
            <div class="user-icon">
                <img src="images/user_icon.svg" alt="Icône de compte utilisateur"/>
            </div>
            <span class="account-text">Mon compte</span>

        </div>
        </header>

        <main class="main-container">
            <aside class="sidebar">
                <div class="list-offer">
                    <h3>Stage A</h3>
                    <p>Lieu</p>
                    <small>Blablabla...</small>
                </div>

                <div class="list-offer">
                    <h3>Stage B</h3>
                    <p>Lieu</p>
                    <small>Blablabla...</small>
                </div>

                <div class="list-offer">
                    <h3>Stage C</h3>
                    <p>Lieu</p>
                    <small>Blablabla...</small>
                </div>

                <div class="list-offer">
                    <h3>Stage D</h3>
                    <p>Lieu</p>
                    <small>Blablabla...</small>
                </div>

                <div class="list-offer">
                    <h3>Stage E</h3>
                    <p>Lieu</p>
                    <small>Blablabla...</small>
                </div>

                <div class="list-offer">
                    <h3>Stage F</h3>
                    <p>Lieu</p>
                    <small>Blablabla...</small>
                </div>

                <div class="list-offer">
                    <h3>Stage G</h3>
                    <p>Lieu</p>
                    <small>Blablabla...</small>
                </div>

                <div class="list-offer">
                    <h3>Stage H</h3>
                    <p>Lieu</p>
                    <small>Blablabla...</small>
                </div>

                <div class="list-offer">
                    <h3>Stage I</h3>
                    <p>Lieu</p>
                    <small>Blablabla...</small>
                </div>

                <div class="list-offer">
                    <h3>Stage J</h3>
                    <p>Lieu</p>
                    <small>Blablabla...</small>
                </div>
                
                <div class="list-offer">
                    <h3>Stage K</h3>
                    <p>Lieu</p>
                    <small>Blablabla...</small>
                </div>

            </aside>

            <section class="details">
                <div class="detail-offer">
                    <h2>Titre de l'offre</h2>
                    <p class="informations"><strong>Lieu / Adresse</strong></p>
                    <p class="informations"><strong>Gratification</strong></p>
                    <button class="btn-candidate">Postuler maintenant</button>
                    <p class="description">
                        Blablabla
                    </p>
                    
                </div>
            </section>








            
        </main>











        <footer class="site-footer">
            <p>
            © Career Quest | 
            <a href="page-mentions-legales.html" class="footer-link">Mentions Légales</a>
            </p>
        </footer>
    
    </body>

</html>