<!DOCTYPE html>
<html lang="fr">
    <head>
    <meta charset="utf-8">
    <title>Career Quest</title>
	<meta name="description" content="Venez rechercher la perle rare parmi nos offres d'emploi.">
	<link href="main-stylesheet.css" rel="stylesheet" />
    <link href="pannel_eleve_style.css" rel="stylesheet" />
    </head>

    <body>
        <header class="navbar">
        

            <div class="logo">
        <img src="images/logo.png" alt="Logo de Career Quest"/>
        </div>

        <div class="search-container">
            <input type="text" placeholder="Rechercher" class="search-bar"/>
        </div>

        <div class="account">
            <div class="user-icon">
                <img src="images/user_icon.svg" alt="Icône de compte utilisateur"/>
            </div>
            <span class="account-text">Mon compte</span>

        </div>
        </header>


        <section class="statistiques">
            <h2>Statistiques</h2>
            <div class="stats-container">
                <p>Nombre de candidature : </p>
                <p>Candidatures en cours : </p>
                <p>Candidature refusée: </p>
            </div>
        </section>

        <div class="info-cv-container">
            <section class="mes-informations">
                <h2>Mes Informations</h2>
                
                <div class="info-item">
                    <label>Nom Prénom :</label>
                </div>
                
                <div class="info-item">
                    <label>Date de naissance :</label>
                </div>
                
                <div class="info-item">
                    <label>Formation :</label>
                </div>
                
                <div class="info-item">
                    <label>Mon niveau d'étude :</label>
                </div>
                
                <div class="info-item">
                    <label>Description sur mon profil :</label>
                    <p></p>
                </div>
            </section>

            <aside class="mon-cv">
                <div class="cv-section">
                    <h3>Mon CV</h3>
                    <div class="cv-placeholder">
                        <p> Mettre l'img du CV ici</p>
                    </div>
                </div>
                
                <div class="competences-section">
                    <h3>Mes compétences</h3>
                    <div class="competences-numbers">
                        <p>Competence 1</p>
                        <p>Competence 2</p>
                    </div>
                </div>
            </aside>
        </div>

        <div class="favoris-candidatures-container">
            <section class="mes-favoris">
                <h2>Mes favoris</h2>
                
                <div class="annonce-card">
                    <h3>Annonce favorite n°1</h3>
                    <p>Lien vers index.hmtl sur l'annonce</p>
                </div>
                
                <div class="annonce-card">
                    <h3>Annonce favorite n°2</h3>
                    <p>Lien vers index.hmtl sur l'annonce</p>
                </div>
            </section>

            <section class="mes-candidatures">
                <h2>Mes dernières candidatures</h2>
                
                <div class="annonce-card">
                    <h3>Annonce 1</h3>
                    <p>Lien vers index.hmtl sur l'annonce</p>
                </div>
                
                <div class="annonce-card">
                    <h3>Annonce 2</h3>
                    <p>Lien vers index.hmtl sur l'annonce</p>
                </div>
            </section>
        </div>


        <footer class="site-footer">
            <p>
            © Career Quest | 
            <a href="/mentions-legales" class="footer-link">Mentions Légales</a>
            </p>
        </footer>
    
    </body>

</html>